# See https://github.com/binder-examples/conda
name: radis-env
channels:
- conda-forge
- astropy
- cantera
- plotly
dependencies:
- python=3.8
- astropy  # Unit aware calculations
- astroquery>=0.3.9  # to fetch HITRAN databases
- cantera   # for chemical equilibrium computations
- configparser
- cython
- h5py   # load HDF5
- joblib  # for parallel loading of SpecDatabase
- matplotlib
- numpy
- numba  # just-in-time compiler
- pandas>=1.0.5
- plotly>=2.5.1  # for line survey HTML output
- psutil # for getting user RAM
- scipy>=1.4.0
- seaborn   # other matplotlib themes
- termcolor  # terminal colors
- specutils
- vaex>=4.4.0   # load HDF5 files  (version for custom HDF5 groups)
- pip
# Specific to radis-lab : 
- ipympl>=0.5.6  # for interactive plots
- jupyterlab_widgets
- jupyterlab
- ipywidgets>=7.5    # for plotly
- python-kaleido     # for plotly
- pip:
  - beautifulsoup4 # parse ExoMol website
  - lxml           # parser used for ExoMol website
  - hjson          # Json with comments (for default_radis.json)
  - publib>=0.3.2  # Plotting styles for Matplotlib
  - hitran-api     # HAPI, used to access TIPS partition functions
  - peakutils
  - json-tricks>=3.15.0  # to deal with non jsonable formats
  - mpldatacursor
  - progressbar2    # used in vaex
  - tuna           # to generate visual/interactive performance profiles
  - tables  # for pandas to HDF5 export
  - habanero  # CrossRef API to retrieve data from doi
  # Specific to radis-lab:
  - radis>=0.11.1
  - jupyter-offlinenotebook
  - jupyterlab_hdf
